mat-card{
    widows: 100%;
    height: auto;
    margin: auto;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
}
.component{
    margin-left: 5px;
}
.component form{
    width: 60%;
}
table {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
table th{
    padding: 5px;
}
table td{
    padding: 5px;
}

.message{
    margin: auto;
    padding: 5px;
    font-size: 20px;
    background-color: red;
    border-radius: 5px;
}